/* cart.css */
@font-face {
  font-family: "Vrdznagir";
  src: url("Vrdznagir.otf") format("opentype");
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.oval {
  width: 600px;
  height: 300px;
  border-radius: 300px / 150px;
  overflow: hidden;
  box-shadow: 7px 11px 81px 13px #f56565;
  -webkit-box-shadow: 7px 11px 81px 13px #f56565;
  -moz-box-shadow: 7px 11px 81px 13px #f56565;
}

.oval-content {
  position: relative;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../stock-photo-lovely-pastel-pink-white-tone-big-bokeh-background-light-lens.jpeg");
}

.oval-content img {
  width: 100%; /* Make the image fill the oval */
  height: 100%;
  border-radius: 300px / 150px;
  object-fit: cover;
}

.oval-content p {
  text-align: center;
  font-size: 54px;
  font-family: "Vrdznagir", sans-serif;
  font-weight: bold;
  color: #f6e05e;
  -webkit-text-stroke: 2px #1a202c;
  -webkit-background-clip: content-box;
  text-shadow: 1px 3px 0 #c53030, 1px 11px 5px #63171b;
}

.oval-content h3 {
  text-align: center;
  margin-left: 150px;
  margin-top: 10px;
  font-size: 24px;
  font-family: "Vrdznagir", sans-serif;
  color: #f6e05e;
  -webkit-text-stroke: 1px #1a202c;
  -webkit-background-clip: content-box;
  text-shadow: 1px 3px 0 #c53030, 1px 11px 5px #63171b;
}
